/* Navigation Barのスタイル */
body {margin:0;}

.navbar {
    overflow: hidden;
    background-color: black; /* 背景色を黒に設定 */
    color: white; /* 文字色を白に設定 */
    margin: 0;
    padding: 14px 14px;
    top: 0;
    height: 30px;
    width: 100%;
}

/* Navigation Bar内のリンクのスタイル */
.navbar a {
    color: white; /* リンクの文字色を白に設定 */
    text-decoration: none;
}

/* Navigation Bar内のテキストの配置 */
.navbar .navbar-brand {
    text-align: left; /* テキストを左側に配置 */
}

/* Footerのスタイル */
footer {
    position: sticky;
    text-align: center; /* テキストを中央に配置 */
    top: 100vh;
}
